:root {
  background: rgb(32, 32, 32);
  color: white;
  font-size: 20px;
  text-shadow: 0 0 4px black;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.module {
  font-family: Arial, Helvetica, sans-serif;
  --color: red;
  --color-lighter: pink;
  width: 80%;
}

.module-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  background: var(--color);
  border: 1px solid var(--color-lighter);
  padding: 2px;
}