:root {
  background: rgb(32, 32, 32);
  color: white;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.module {
  font-family: Arial, Helvetica, sans-serif;
  --color: red;
  --color-lighter: pink;
}

.nav-link {
  color: white;
  text-decoration: none;
  background: var(--color);
  border: 1px solid var(--color-lighter);
}