:root {
  --content-width: 100%;
  --content-height: 100%;
}

* {
  color: white;
  font-family: Roboto;
  font-weight: 300;
  text-shadow: -2px 2px 5px black;
}
body {
  overflow: hidden;
  padding: 0;
}

main.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(96, 96, 96);
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
}

nav.top-bar {
  position: relative;
  background: rgb(60, 60, 60);
  width: var(--content-width);
  height: 60px;
  left: 50%;
  margin-left: calc(var(--content-width) / -2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.company-logo {
  width: 60px;
  height: 60px;
}

div.nav-links {
  padding: 8px;
}

div.nav-links a {
  transition: 0.2s;
  color: white;
  background: rgb(20, 20, 20);
  padding: 8px;
  text-decoration: none;
}

div.nav-links a:hover {
  box-shadow: 0px 0px 12px 3px silver;
  text-shadow: 0px 0px 6px silver;
}

section.content {
  position: relative;
  background: rgb(40, 40, 40);
  width: var(--content-width);
  height: var(--content-height);
  left: 50%;
  margin-left: calc(var(--content-width) / -2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

h1.content-title {
  font-weight: 400;
  font-size: 45px;
}

div.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
  height: 60%;
}

div.product {
  transition: 0.15s;
  position: relative;
  width: 200px;
  background: rgb(64, 63, 63);
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: inset 0 0 10px 5px rgb(39, 39, 39), 0 0 15px 7px rgb(24, 24, 24);
}

div.product:hover{
  transform: scale(1.1);
  box-shadow: inset 0 0 20px 10px rgb(39, 39, 39), 0 0 30px 14px rgb(24, 24, 24);
  z-index: 5;
}

div.product * {
  padding-left: 15px;
}

div.product-image {
  position: absolute;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 10px;
  background: rgb(0, 0, 0, 0.5);
  padding: 0;
}

div.product-image > img {
  width: 125px;
  height: 125px;
}

div.product-image::after {
  content: attr(product-name);
  opacity: 0.33;
  font-size: 11px;
  position: absolute;
  bottom: -15px;
  left: 30px;
}

div.product > h3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21px;
}

div.product > p {
  padding: 10px;
  position: absolute;
  top: 220px;
  left: 0;
  font-size: 14px;
}

img.content-image {
  width: 90%;
  max-height: 280px;
}
p.content-text {
  width: 90%;
}
