@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Thin.ttf") format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-ThinItalic.ttf") format('truetype');
  font-weight: 200;
}

:root {
  --content-width: 100%;
  --content-height: 100%;
  font-size: 62.5%;
}

body {
  overflow: hidden;
  padding: 0;
}

main.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(96, 96, 96);
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
  
}

main * {
  color: white;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.6rem;
  text-shadow: 0 0 0.7rem black;
}

nav.top-bar {
  position: relative;
  background: rgb(60, 60, 60);
  width: var(--content-width);
  height: 6rem;
  left: 50%;
  margin-left: calc(var(--content-width) / -2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.company-logo {
  width:6rem;
  height: 6rem;
}

div.nav-links {
  display: flex;
  padding: 0.8rem;
  gap: 2rem;
}

div.nav-links a {
  position: relative;
  transition: 0.2s;
  color: white;
  padding: 0.8rem;
  text-decoration: none;
}

div.nav-links a::before {
  transition: transform 200ms;
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

div.nav-links a:not(:last-child)::after {
  content: "";
  height: 2rem;
  width: 1px;
  background: white;
  position: absolute;
  right: -0.7rem;
  bottom: 0.7rem;
}

div.nav-links a:hover::before {
  transform: scaleX(1)
}

.content {
  position: relative;
  background: rgb(40, 40, 40);
  width: var(--content-width);
  min-height: calc(var(--content-height) - 6rem);
  left: 50%;
  margin-left: calc(var(--content-width) / -2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

h1.content-title {
  font-weight: 400;
  font-size: 3rem;
}

div.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

div.product {
  transition: 0.15s;
  position: relative;
  width: 30rem;
  background: rgb(64, 63, 63);
  height: 38.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 1rem 0.5rem rgba(24, 24, 24, 0.5);
}

div.product:hover{
  transform: scale(1.05);
  box-shadow: 0 2rem 1rem 0.5rem rgba(24, 24, 24, 0.5);
  z-index: 5;
}

div.product * {
  padding-left: 1rem;
}

div.product-image {
  position: absolute;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10rem;
  left: 1rem;
  /* background: rgb(0, 0, 0, 0.5); */
  padding: 0;
}

div.product-image > img {
  width: 15rem;
  aspect-ratio: 1/1;
}

div.product-image::after {
  content: attr(data-product-name);
  opacity: 0.33;
  font-size: 1.1rem;
  position: absolute;
  bottom: -1.5rem;
  left: 3rem;
}

div.product > h3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.1rem;
  text-decoration: underline;
}

div.product > p {
  padding: 1rem;
  position: absolute;
  top: 25rem;
  left: 1rem;
  font-size: 1.4rem;
}

img.content-image {
  width: 90%;
  max-width: 128rem;
  max-height: 30rem;
  aspect-ratio: 4.26/1;
}
p.content-text {
  width: 90%;
  max-width: 128rem;
}

div.map-and-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9rem;
  width: 90%;
  margin-top: 5rem;
  padding-bottom: 3rem;

}

div.map-and-info iframe.map {
  width: 55rem;
  box-shadow: 0 0 0.8rem 1rem rgb(0,0,0,0.3);
}

div.contact-info p {
  font-weight: 200;
  font-style: italic;
}
@media only screen and (max-width: 400px) {
  :root {
    font-size: 50%;
  }
  img.company-logo {
    display: none;
  }

  div.product {
    width: 100vw;
    margin-bottom: 4rem;
  }

  div.map-and-info iframe.map {
    width: 100%;
  }
}